#content{
	position:fixed;
	top:48px;
	right:0;
	width:100%;
	height:calc( 100% - 88px );
	background:#111;
	color:#fff;
	font-family:'Cabin Condensed';
	text-align:center;
	overflow-y:auto;
	outline:0;
	
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	
	-webkit-transition:width 1s;
	        transition:width 1s;
}

#view-content{
	padding:15px;
}

.header{
}

.header hr{
	width:200px;
	border:0;
	border-top:1px solid rgba(255,255,255,0.45);
}

audio{
	width:100%;
}

table.songs-list{
	width:calc( 100% - 10px );
	margin:auto;
	border-collapse:separate;
	border-spacing:1px 5px;
}

.songs-list td.index{
	width:26px;
	background:#423157;
	color:#fff;
	border:1px solid #4ea463;
	font-size:14px;
	text-align:right;
	padding-right:10px;
}

.songs-list td.index.active{
	background:#7d591b;
	border-color:#cfce51;
}

.songs-list td.label{
	width:300px;
	background:#1e3e80;
	color:#fff;
	border:1px solid #e070ff;
	font-size:14px;
	padding:0 10px;
}

.songs-list td.label:hover{
	background:#146c93;
	cursor:pointer;
}

.songs-list td.label hr{
	margin:2px auto 0 0;
	width:40%;
	border-bottom:0;
	border-top:1px solid rgba(255,255,255,0.3);
}

.songs-list td.audio{
	background:#00ff1e;
	border:1px solid #0037ec;
}

.songs-info,
.songs-control{
	display:inline-block;
	width:100px;
	background:#757b23;
	border:1px solid #2fba98;
	padding:2px 0;
	margin:2px 5px;
	border-radius:100px;
}

.songs-info.wide{
	width:200px;
}

.songs-info #curr-time,
.songs-info #total-time{
	display:inline-block;
	width:92px;
}

.songs-control{
	width:auto;
	padding:3px 10px;
	border-radius:0;
	background:#1e4053;
	border-color:#2978a5;
	cursor:pointer;
}

.songs-control:hover{
	background:#2c6381;
}

.songs-control.click-me{
	animation: click-me 1s linear infinite;
}

@keyframes click-me{
  0%  { background:#1e4053; }
  50%  { background:#84d0fb; }
  100%{ background:#1e4053; }
}

#playback-controls{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	padding:5px;
	background:#000;
	border-top:1px solid rgba(255,255,255,0.25);
}