#navbar{
	border-bottom:1px solid rgba(255,255,255,0.25);
	white-space:nowrap;
	overflow:auto;
}

#navbar .count{
	position:absolute;
	background:#00325d;
	color:#eee;
	top :  4px;
	padding:0 8px;
	font-size:12px;
	border:1px solid rgba(255, 255, 255, 0.25);
	border-radius:100px;
	font-family:'Cabin Condensed';
	pointer-events:none;
}

#navbar #total-count.count{
	left:295px;
}

#navbar #search-count.count{
	left:695px;
}

#navbar #navbar-title{
	background:#0d133b;
	color:#ffffa6;
	width:140px;
	font-size:16px;
	padding:3px 10px;
	text-align:right;
	border:1px solid rgba(82, 148, 204, 0.5);
	font-family:'Pacifico';
	text-shadow:0px 0px 9px #ffffa6;
	cursor:pointer;
}

#navbar #navbar-title:hover{
	background:#3e4a9f;
}

#navbar #navbar-title .logo{
	display:inline-block;
	width :24px;
	height:24px;
	background:linear-gradient(#f5f7bb, #e774e6);
	border-radius:100%;
	border:2px solid #4cde49;
	box-shadow:0px 0px 0px -1px white, 0 0 4px 0px #51ffe9;
	text-align:center;
	float:left;
	margin-top:1px;
}

#navbar #navbar-title .logo img{
	width:16px;
	margin-top:1px;
	
}

#navbar select.navbar-option{
	background:#333;
	color:#fff;
	border:1px solid #666;
	padding:2px 5px;
	margin-bottom:8px;
	width:170px;
	max-width:90%;
	text-align:left;
	font-size:14px;
	font-family:'Lobster Two';
	
	-webkit-appearance: none;
      `-moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

#navbar #pages-dropdown{ color:#ffd4d4; }
#navbar #views-dropdown{ color:#e6e6ff; }

#navbar #search-bar{
	background:#333;
	border:1px solid #666;
	margin:0px 5px 10px;
	padding:2px 10px;
	width:200px;
	max-width:80%;
	text-align:left;
	font-family: FontAwesome, 'Cabin Condensed';
}